/*whir.application.js append*/
table.ui_border,table.ui_dialog{ width:auto;border-spacing:0;*border-collapse:collapse; }

.doc_Scroll{	vertical-align:text-top;}


/*textarea*/
.textareaIco {
    *margin-top:0;
   
    margin-left:5px;
}

/*custom form*/
.openSelectIco {
    margin-left:-27px;
    margin-top:0px;
}

.toolbarBottomLine td{height:30px; padding-right:5px;}

.selectlist {
    width: 98%;
    margin: 0px 0px;
   
    vertical-align: middle;
    margin:3px 0px 3px 0px;
}

.selectlistbox{border:1px solid #f00; width:98%; }
.selecelistChange{ margin:-3px -3px -7px -3px ;}

.portalBox{width:98.6%;  overflow-x:hiddle; }