<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="../../../templates/template_system/common/css/template.reset.css" />
    <link rel="stylesheet" href="../../..//templates/template_default/common/css/template.portal.css" />
    <link rel="stylesheet" href="../../../templates/template_default/common/css/template.fa.css" />
    <link rel="stylesheet" href="../../../templates/template_default/themes/2015/color_default/template.color.default.css" />
    <script type="text/javascript" src="../../../scripts/plugins/jquery/jquery.min.js" ></script>
</head>
<body>
<div class="wh-control-panel clearfix" style="margin-top: 20px;">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <td valign="top">
                <div class="wh-control-panel-menu" style="margin-left: 20px;">
                    <h2>控制面板<i class="fa fa-chevron-down"></i></h2>
                    <div class="wh-control-panel-list">
                        <h3 class="clearfix"><span>信息类</span><i class="fa fa-chevron-down"></i></h3>
                        <ul class="wh-control-panel-li">
                            <li><a href=""><i class="fa fa-th-list"></i>信息栏目</a></li>
                            <li><a href=""><i class="fa fa-video-camera"></i>频道更新</a></li>
                            <li><a href=""><i class="fa fa-user-plus"></i>部门更新</a></li>
                            <li><a href=""><i class="fa fa-book"></i>知识标签</a></li>
                            <li><a href=""><i class="fa fa-folder-open"></i>论坛栏目</a></li>
                            <li><a href=""><i class="fa fa-weibo"></i>微博</a></li>
                        </ul>
                        <h3 class="clearfix"><span>提醒类</span><i class="fa fa-chevron-down"></i></h3>
                        <ul class="wh-control-panel-li">
                            <li><a href=""><i class="fa fa-home"></i>系统提醒</a></li>
                            <li><a href=""><i class="fa fa-file-text"></i>文件办理提醒</a></li>
                            <li><a href=""><i class="fa fa-user"></i>人事提醒</a></li>
                        </ul>
                        <h3 class="clearfix"><span>流程类</span><i class="fa fa-chevron-down"></i></h3>
                        <ul class="wh-control-panel-li">
                            <li><a href=""><i class="fa fa-pencil-square-o"></i>文件办理</a></li>
                            <li><a href=""><i class="fa fa-sitemap"></i>常用流程</a></li>
                            <li><a href=""><i class="fa fa-history"></i>流程催办</a></li>
                        </ul>
                        <h3 class="clearfix"><span>公文类</span><i class="fa fa-chevron-down"></i></h3>
                        <ul class="wh-control-panel-li">
                            <li><a href=""><i class="fa fa-file"></i>我的收文</a></li>
                            <li><a href=""><i class="fa fa-pencil-square"></i>公文办理提醒</a></li>
                            <li><a href=""><i class="fa fa-arrow-circle-o-left"></i>公文经办</a></li>
                            <li><a href=""><i class="fa fa-exchange"></i>交换收文</a></li>
                            <li><a href=""><i class="fa fa-external-link-square"></i>信息报送</a></li>
                            <li><a href=""><i class="fa fa-newspaper-o"></i>报送刊物</a></li>
                            <li><a href=""><i class="fa fa-eye"></i>督办任务</a></li>
                            <li><a href=""><i class="fa fa-clock-o"></i>督办催办</a></li>
                        </ul>
                        <h3 class="clearfix"><span>个人办公类</span><i class="fa fa-chevron-down"></i></h3>
                        <ul class="wh-control-panel-li">
                            <li><a href=""><i class="fa fa-envelope"></i>我的邮件</a></li>
                            <li><a href=""><i class="fa fa-calendar"></i>我的日程</a></li>
                            <li><a href=""><i class="fa fa-file-o"></i>我的任务</a></li>
                            <li><a href=""><i class="fa fa-files-o"></i>工作汇报</a></li>
                            <li><a href=""><i class="fa fa-tags"></i>我的便签</a></li>
                            <li><a href=""><i class="fa fa-globe"></i>常用网址</a></li>
                        </ul>
                        <h3 class="clearfix"><span>综合办公类</span><i class="fa fa-chevron-down"></i></h3>
                        <ul class="wh-control-panel-li">
                            <li><a href=""><i class="fa fa-bullhorn"></i>会议通知</a></li>
                            <li><a href=""><i class="fa fa-thumbs-o-up"></i>网上投票</a></li>
                            <li><a href=""><i class="fa fa-whatsapp"></i>问卷调查</a></li>
                            <li><a href=""><i class="fa fa-shopping-cart"></i>名片订购</a></li>
                            <li><a href=""><i class="fa fa-bar-chart"></i>报表工具</a></li>
                        </ul>
                        <h3 class="clearfix"><span>知道文库</span><i class="fa fa-chevron-up"></i></h3>
                        <h3 class="clearfix"><span>其他类</span><i class="fa fa-chevron-down"></i></h3>
                        <ul class="wh-control-panel-li">
                            <li><a href=""><i class="fa fa-hand-o-up"></i>单点登录</a></li>
                            <li><a href=""><i class="fa fa-users"></i>在线人数</a></li>
                            <li><a href=""><i class="fa fa-share-alt-square"></i>RSS站点</a></li>
                            <li><a href=""><i class="fa fa-tablet"></i>HTML编辑</a></li>
                            <li><a href=""><i class="fa fa-desktop"></i>WEB搜索</a></li>
                            <li><a href=""><i class="fa fa-line-chart"></i>股票</a></li>
                        </ul>
                    </div>
                </div>
            </td>
            <script>
                $(function () {
                    $(".wh-control-panel-menu h2").click(function () {
                        $(".wh-control-panel-list").stop().css({});
                    });
                });

            </script>
            <td valign="top">
                <div class="wh-control-panel-btn">
                    <a href="" class="wh-control-btn-blue">布局设置</a>
                    <a href="" class="wh-control-btn-blue">全部闭合</a>
                    <a href="" class="wh-control-btn-blue">全部清空</a>
                </div>
            </td>
            <td valign="top">
                <div class="wh-control-panel-module" style="margin-left: 10%;">
                    <a href="" class="wh-control-btn-gray">显示状态</a>
                    <div class="wh-portal-info-box">
                        <div class="wh-portal-info">
                            <div class="wh-portal-i-title clearfix">
                                <ul class="wh-portal-i-title-left clearfix">
                                    <li class="wh-portal-title-li on"><a href="">热点新闻</a></li>
                                    <li class="wh-portal-title-li"><a href="">热点新闻</a></li>
                                </ul>
                                <h3><a href="">新闻中心</a></h3>
                            </div>
                            <div class="wh-control-panel-box">
                                <div class="wh-portal-i-content">
                                    内容区
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="wh-portal-info-box">
                        <div class="wh-portal-info">
                            <div class="wh-portal-one-title clearfix">
                                <h3 class="on"><a href="">热点新闻</a></h3>
                            </div>
                            <div class="wh-control-panel-box">
                                <div class="wh-portal-i-content">
                                    内容区
                                </div>
                            </div>
                        </div>
                        <div class="wh-display-item">
                            <span>窗口显示项</span>
                            <a href=""><i class="fa fa-check-square-o"></i>显示标题栏</a>
                            <a href=""><i class="fa fa-square-o"></i>显示工具按钮</a>
                            <a href=""><i class="fa fa-check-square-o"></i>显示边框</a>
                        </div>
                    </div>
                    <div class="wh-portal-info-box">
                        <div class="wh-portal-info">
                            <div class="wh-portal-i-title clearfix">
                                <ul class="wh-portal-i-title-left clearfix">
                                    <li class="wh-portal-title-li on"><a href="">热点新闻</a></li>
                                    <li class="wh-portal-title-li"><a href="">热点新闻</a></li>
                                </ul>
                                <h3><a href="">新闻中心</a></h3>
                                <div class="wh-portal-i-tools">
                                    <i class="fa fa-plus fa-color"></i>
                                    <i class="fa fa-repeat fa-color"></i>
                                    <i class="icon icon-read-more"></i>
                                </div>
                            </div>
                            <div class="wh-control-panel-box">
                                <div class="wh-portal-i-content">
                                    内容区
                                </div>
                            </div>
                        </div>
                        <div class="wh-display-item">
                            <span>窗口显示项</span>
                            <a href=""><i class="fa fa-square-o"></i>显示标题栏</a>
                            <a href=""><i class="fa fa-check-square-o"></i>显示工具按钮</a>
                            <a href=""><i class="fa fa-check-square-o"></i>显示边框</a>
                        </div>
                    </div>
                    <div class="wh-portal-info-box">
                        <div class="wh-portal-info">
                            <div class="wh-control-panel-box">
                                <div class="wh-portal-i-content">
                                    内容区
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wh-portal-info-box">
                        <div class="wh-portal-info">
                            <div class="wh-control-panel-box">
                                <div class="wh-portal-i-content">
                                    <div class="wh-portal-info-content">
                                        <div class="wh-portal-i-item clearfix">
                                            <a href="">
                                                <i class="fa fa-file-o"></i>
                                                <span> 万户网站-4月份新员工企业…</span>
                                            </a>
                                            <em>（4-27阅36次）</em>
                                        </div>
                                        <div class="wh-portal-i-item clearfix">
                                            <a href="">
                                                <i class="fa fa-file-o"></i>
                                                <span>4月11日流程优化再造实施…</span>
                                            </a>
                                            <em>（4-27阅36次）</em>
                                        </div>
                                        <div class="wh-portal-i-item clearfix">
                                            <a href="">
                                                <i class="fa fa-file-o"></i>
                                                <span>海万户网站建设签单快报</span>
                                            </a>
                                            <em>（4-27阅36次）</em>
                                        </div>
                                        <div class="wh-portal-i-item clearfix">
                                            <a href="">
                                                <i class="fa fa-file-o"></i>
                                                <span>4月11日（本周六）流程优化再…</span>
                                            </a>
                                            <em>（4-27阅36次）</em>
                                        </div>
                                        <div class="wh-portal-i-item clearfix">
                                            <a href="">
                                                <i class="fa fa-file-o"></i>
                                                <span>海万户网站建设签单快报</span>
                                            </a>
                                            <em>（4-27阅36次）</em>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <div class="fr clearfix">


    </div>
</div>



<script type="text/javascript" src="../../scripts/plugins/superslide/jquery.SuperSlide.2.1.1.js" ></script>
<script>
    $(function(){

    })
</script>
</body>
</html>