<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="../../../templates/template_system/common/css/template.reset.css" />
    <link rel="stylesheet" href="../../../templates/template_default/common/css/template.portal.css" />
    <link rel="stylesheet" href="../../../templates/template_default/common/css/template.fa.css" />
    <link rel="stylesheet" href="../../../templates/template_default/common/css/template.colorpicker.css" />
    <link rel="stylesheet" href="../../../templates/template_default/themes/2015/color_default/template.color.default.css" />
    <script type="text/javascript" src="../../../scripts/plugins/jquery/jquery.min.js" ></script>
    <script type="text/javascript" src="../../../scripts/plugins/playfor/playfor.js" ></script>
    <script type="text/javascript" src="../../../scripts/plugins/colorpicker/jquery.bigcolorpicker.js" ></script>
</head>
<body>

<div class="wh-pop-box">
    <div class="wh-info-set">
        <h3>信息栏目设置</h3>
        <div class="wh-info-set-tab">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <th><em>栏目名称：</em></th>
                    <td colspan="3">
                        <div class="wh-choose-info-column clearfix">
                            <div class="wh-choose-info-text">
                                <i class="fa fa-globe"></i>
                                <input type="text" class="wh-choose-info-input" value="" placeholder="信息栏目"/>
                                <!--icon select-->
                                <div class="wh-choose-tips">
                                    <i class="fa fa-globe"></i>
                                    <i class="fa fa-globe"></i>
                                    <i class="fa fa-globe"></i>
                                    <i class="fa fa-globe"></i>
                                    <i class="fa fa-globe"></i>
                                    <i class="fa fa-globe"></i>
                                    <i class="fa fa-globe"></i>
                                    <i class="fa fa-globe"></i>
                                    <i class="fa fa-globe"></i>
                                    <i class="fa fa-globe"></i>
                                    <i class="fa fa-globe"></i>
                                    <i class="fa fa-globe"></i>
                                    <i class="fa fa-globe"></i>
                                    <i class="fa fa-globe"></i>
                                    <i class="fa fa-globe"></i>
                                </div>
                            </div>
                            <a href="" class="wh-choose-info-btn">选择信息栏目</a>
                            <div class="wh-column-info-ico">
                                <ul class="wh-column-info-ico-list clearfix">
                                    <li>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="3">
                        <div class="wh-choose-info-box">
                            <i class="fa fa-times fa-color"></i><span>信息管理、紧急通知</span>
                        </div>
                        <div class="wh-choose-info-box">
                            <i class="fa fa-times fa-color"></i><span>信息管理、通知通告</span>
                        </div>
                        <div class="wh-choose-info-box">
                            <i class="fa fa-times fa-color"></i><span>信息管理、员工信息</span>
                        </div>
                        <div class="wh-choose-info-box">
                            <i class="fa fa-times fa-color"></i><span>信息管理、紧急通知</span>
                        </div>
                        <div class="wh-choose-info-box">
                            <i class="fa fa-times fa-color"></i><span>信息管理、紧急通知</span>
                        </div>
                        <div class="wh-choose-info-box">
                            <i class="fa fa-times fa-color"></i><span>信息管理、紧急通知</span>
                        </div>
                        <div class="wh-choose-info-box">
                            <i class="fa fa-times fa-color"></i><span>信息管理、紧急通知</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><em>栏目名称：</em></th>
                    <td colspan="3">
                        <div class="wh-choose-info-type">
                            <ul class="clearfix">
                                <li class="wh-choose-info01">
                                    <div class="wh-choose-info-title"><i class="fa fa-check-circle-o"></i>纯标题</div>
                                </li>
                                <li class="wh-choose-info02">
                                    <div class="wh-choose-info-title"><i class="fa fa-check-circle-o"></i>图文混排</div>
                                </li>
                                <li class="wh-choose-info03">
                                    <div class="wh-choose-info-title"><i class="fa fa-square-o"></i>图片页签</div>
                                </li>
                                <li class="wh-choose-info04">
                                    <div class="wh-choose-info-title"><i class="fa fa-square-o"></i>图片缩略</div>
                                </li>
                                <li class="wh-choose-info05">
                                    <div class="wh-choose-info-title"><i class="fa fa-square-o"></i>图片滚动</div>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><em>标题数字限制：</em></th>
                    <td colspan="3">
                        <div class="wh-choose-input">
                            <input type="text" class="wh-choose-input-wid" value=""/>
                            <i class="fa fa-square-o"></i><span>头条信息预览</span>
                            <i class="fa fa-check-circle-o"></i><span>标题列表滚动</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><em>窗口高度：</em></th>
                    <td>
                        <div class="wh-choose-input-w-box clearfix">
                            <a href="javascript:void(0)" class="wh-choose-input-a wh-backstage-auto-height">自动高度</a>
                            <input type="text" class="wh-choose-input-text wh-auto-height-input" value="" />
                        </div>
                    </td>
                    <th><em>图片数量：</em></th>
                    <td>
                        <div class="wh-choose-input-w-box">
                            <i class="fa fa-plus wh-pic-num-plus" onclick="setAmount.add('.wh-backstage-pic-num')"></i>
                            <input type="text" class="wh-choose-input-num wh-backstage-pic-num" value="1" />
                            <i class="fa fa-minus wh-pic-num-minus" onclick="setAmount.reduce('.wh-backstage-pic-num')"></i>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><em>图片宽度：</em></th>
                    <td>
                        <div>
                            <input type="text"  class="wh-fileup-input" value="" />
                            <span>px</span>
                        </div>
                    </td>
                    <th><em>图片高度：</em></th>
                    <td>
                        <div>
                            <input type="text"  class="wh-fileup-input" value="" />
                            <span>px</span>
                        </div>
                    </td>
                </tr>
                <!-- 新增股票设置 -->
                <tr>
                    <th><em>股票设置：</em></th>
                    <td colspan="3">
                        <div class="wh-choose-stock-input">
                            <input type="text"  class="wh-fileup-input" value="" /> 
                        </div>
                        <span class="stock-info">xxxxxxxxxxxxxxxxxxxxxxxxxxxx</span>
                    </td> 
                </tr>


                <tr>
                    <th><em>标题字体颜色：</em></th>
                    <td>
                        <div class="wh-choose-input-w-box">
                            <input type="text" id="wh-choose-title-color" class="wh-choose-input-color" value="" />
                            <a href="javascript:void(0)" class="wh-choose-color-a wh-backstage-title-bg"><img src="../images/ver113/choose-color.jpg" width="23" height="24" alt=""/></a>
                        </div>
                    </td>
                    <th><em>内容背景颜色：</em></th>
                    <td>
                        <div class="wh-choose-input-w-box">
                            <input type="text" id="wh-choose-content-color" class="wh-choose-input-color" value="" />
                            <a href="javascript:void(0)" class="wh-choose-color-a wh-backstage-content-bg"><img src="../images/ver113/choose-color.jpg" width="23" height="24" alt=""/></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><em>窗口显示项：</em></th>
                    <td colspan="3">
                        <div class="wh-choose-check">
                            <i class="fa fa-check-circle-o"></i>显示标题栏
                            <i class="fa fa-square-o"></i>显示工具按钮
                            <i class="fa fa-square-o"></i>显示边框
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><em>RSS地址：</em></th>
                    <td colspan="3">
                        <form>
                            <div class="wh-choose-rss"><input type="url" name="" value="" class="wh-choose-input-wid" /><i class="fa fa-plus wh-rss-plus"></i></div>
                            <div class="wh-choose-rss"><input type="url" name="" value="" class="wh-choose-input-wid" /><i class="fa fa-minus wh-rss-minus"></i></div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <th><em>示例：</em></th>
                    <td colspan="3">
                        <div class="wh-choose-textarea">
                            <textarea class="wh-choose-tarea-wid"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><em>表彰域：</em></th>
                    <td colspan="3">
                        <div class="wh-example-select clearfix">
                            <a class="wh-example-btn-select">
                                <div class="wh-example-btn-select-show">
                                    <span></span>
                                    <i class="fa fa-angle-down"></i>
                                </div>
                                <select>
                                    <option>...</option>
                                    <option>...</option>
                                    <option>...</option>
                                </select>
                            </a>
                            <a href="javascript:void(0); " class="fa-example-sele-add"><i class="fa fa-plus "></i></a>
                        </div>
                        <div class="wh-example-select clearfix">
                            <a class="wh-example-btn-select">
                                <div class="wh-example-btn-select-show">
                                    <span></span>
                                    <i class="fa fa-angle-down"></i>
                                </div>
                                <select>
                                    <option>...</option>
                                    <option>...</option>
                                    <option>...</option>
                                </select>
                            </a>
                            <a href="javascript:void(0); " class="fa-example-sele-add"><i class="fa fa-minus"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><em>卡片风格：</em></th>
                    <td colspan="3">
                        <div class="wh-choose-info-type">
                            <ul class="clearfix">
                                <li class="wh-choose-info06">
                                    <div class="wh-choose-info-title"><i class="fa fa-check-circle-o"></i>风格1</div>
                                </li>
                                <li class="wh-choose-info07">
                                    <div class="wh-choose-info-title"><i class="fa fa-check-circle-o"></i>风格2</div>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><em>卡片背景色：</em></th>
                    <td colspan="3">
                        <div class="wh-file-up clearfix">
                            <div class="wh-file-upbutton">
                                <input type="file" name="fileField" class="wh-file-up-input" >
                                <p>上传图片</p>
                            </div>
                            <span class="wh-file-up-name">2038923709214767108.png</span>
                            <div class="wh-file-up-handle">
                                <a href="#">删除</a>
                                <a href="#">预览</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="wh-choose-btn-box">
                <a href="" class="wh-save-btn">保存</a>
                <a href="" class="wh-save-quit">退出</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        /*自动高度*/
        $(".wh-backstage-auto-height").click(function(){
            if($(".wh-auto-height-input").prop("disabled")==true){
                $(".wh-auto-height-input").removeAttr("disabled");
                $(this).css({background:"#666",color:"#fff"});
            }else{
                $(".wh-auto-height-input").attr("disabled","true");
                $(this).css({background:"#e2e2e2",color:"#505050"});
            }
        });
        /*标题字体颜色、内容背景颜色*/
        $(".wh-backstage-title-bg").bigColorpicker("wh-choose-title-color");
        $(".wh-backstage-content-bg").bigColorpicker("wh-choose-content-color");

        /*点击栏目名称图标显示图标集合*/
        $(".fa-globe").click(function(){
            $(".wh-choose-tips").toggle(100);
            return false;
        })
        /*file拿到点击的file值*/
        $(".wh-file-up-input").change(function(){
            var $this = $(this);
            $(".wh-file-up-name").text( $this.val());
        })
    })
</script>
</body>
</html>